* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background-image: url(/images/bg-4.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* nav {
    background-color: black;
    opacity: 0.8;
    border-bottom: 1px solid wheat;
    position: relative;
    z-index: 100;
} */
#dashboard {
    max-height: 500px;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid;
}
